nav {
    padding-left: 1rem;
    padding-top: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: var(--header-color);
    font-size: 1.5rem;
}

nav a {
    text-decoration: none;
    color: var(--header-color);
    padding: 0.5rem 1rem;
    background: radial-gradient(var(--nav-item-bg-color), var(--bg-main));
    /*background-color: var(--nav-item-bg-color);*/
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    transition: 500ms ease-in 100ms;
}

nav a:hover {
    color: var(--hover-color);
    background: radial-gradient(var(--hover-bg-color), var(--bg-main));
    transition: 500ms ease-in 100ms;
}

nav>figure {
    display: inline-block;
}

nav>figure>a {
    background: transparent;
}

nav>figure>a:hover {
    background: transparent;
}

nav>ul {
    display: inline-block;
    text-decoration: none;
    padding-left: 2rem;
}

nav li {
    display: inline;
    margin-right: 1rem;
}

nav>ul::before {
    content: "Telefonkatalogen";
    font-size: 1.5rem;
    text-decoration: underline;
    margin-right: 2.5rem;
    padding: 0.5rem;
}

@media screen and (max-width:900px) {
    nav>ul::before {
        content: "";
    }

    nav li {
        display: block;
        margin-bottom: 1rem;
    }

    nav ul {
        display: table;
    }
}

@media screen and (max-width:640) {}