html {
    font-family: 'Crimson Pro', serif;
    font-weight: lighter;
    letter-spacing: 0.3px;
    color: var(--text-color);
    font-size: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
th {
    font-family: 'Days One', sans-serif;
    font-weight: 700;
    letter-spacing: unset;
}

body {
    min-height: 100vh;
    min-width: 100vw;
    overflow-y: auto;
    overflow-x: hidden;
}

main {
    height: 80%;
    max-height: calc(100% - 60px);
}

header>h1 {
    text-align: center;
    font-size: 3rem;
    padding-top: 1.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    color: var(--header-color);
}

hr {
    height: 3px;
    color: var(--hr-color);
    width: 100%;
}

.page-wrapper {
    /*important to footer placement*/
    position: relative;
    top: 0px;
    min-height: 100vh;
    width: 100%;
    background-color: var(--bg-main);
}

.page-content {
    height: calc(100% - 70px);
    width: clamp(50%, 100%, 100%);
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 70px;
}

@media screen and (max-width:640px) {
    header>h1 {
        font-size: 2.5rem;
    }
}

@media screen and (max-width:420px) {
    header>h1 {
        font-size: 1.6rem;
    }

    .page-content {
        padding-left: 5px;
        padding-right: 5px;
    }
}